service imap-login {
    inet_listener imap {
    }
    inet_listener imaps {
    }
}
service pop3-login {
    inet_listener pop3 {

    }
    inet_listener pop3s {
    }
}
service submission-login {
    inet_listener submission {
    }
}
service lmtp {
    inet_listener lmtp {
        address = {{ dovecot_srv_ip }}
        port = 24
    }
}
service imap {
}
service pop3 {
}
service submission {
}
service auth {
    unix_listener auth-userdb {
        mode = 0666
    }
    inet_listener postfix {
        address = {{ dovecot_srv_ip }}
        port = 25
    }
}
service auth-worker {
}
service dict {
    unix_listener dict {
    }
}
