server_host = dc1.http.lan
server_port = 389
version = 3
start_tls = no

bind = yes
bind_dn = vmail
bind_pw = Passw0rd

search_base = cn=users,dc=http,dc=lan
scope = sub

query_filter = (&(objectclass=person)(userPrincipalName=%s))
result_attribute = userPrincipalName
result_format = /home/mail/%u/Maildir/
debuglevel = 1