compatibility_level = 2
command_directory = /usr/sbin
daemon_directory = /usr/lib/postfix/sbin
data_directory = /var/lib/postfix
mail_owner = {{ mail_owner }}
myhostname = {{ hostname }}
mydomain = {{ domain }}
myorigin = $mydomain
inet_interfaces = all
mydestination = $myhostname, localhost.$mydomain, localhost
unknown_local_recipient_reject_code = 550
mynetworks_style = subnet
mynetworks = 127.0.0.0/8, {{ subnet }}
home_mailbox = maildir/
mailbox_transport = lmtp:inet:{{ dovecotsrv }}:24
virtual_transport = lmtp:inet:{{ dovecotsrv }}:24
virtual_mailbox_domains = http.lan
#transport_maps = hash:/etc/postfix/transport
virtual_alias_maps = ldap:/etc/postfix/ldap/ad_virtual_group_maps
#virtual_mailbox_base = /
virtual_mailbox_maps = ldap:/etc/postfix/ldap/ad_virtual_mailbox_maps
#virtual_uid_maps = ldap:/etc/postfix/ldap/virtual_uid_maps
#virtual_gid_maps = ldap:/etc/postfix/ldap/virtual_uid_maps
smtpd_sender_login_maps = ldap:/etc/postfix/ldap/ad_sender_login_maps
smtpd_banner = $myhostname, ESMTP
sendmail_path = /usr/sbin/postfix
newaliases_path = /usr/bin/newaliases
mailq_path = /usr/bin/mailq
setgid_group = postdrop
inet_protocols = ipv4
disable_vrfy_command = yes
smtpd_helo_required = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = inet:{{ dovecotsrv }}:25
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_local_domain = http.lan