[Unit]
Description=Bind /etc/ldap/tls/CA.pem to /var/spool/postfix/etc/ldap/tls/CA.pem
Before=postfix.service

[Mount]
What=/etc/postfix
Where=/var/spool/postfix/etc/postfix
Type=none
Options=bind

[Install]
WantedBy=postfix.service