server_host = ldaps://ldap.http.lan
version = 3
tls_ca_cert_file = {{ ssl_cert_file }}

bind = yes
bind_dn = cn=mailAccountReader,dc=http,dc=lan
bind_pw = {{ ldap.password }}

search_base = ou=mail,dc=http,dc=lan
scope = sub

query_filter = maildrop=%s
result_attribute = uidNumber