options {
    listen-on port 53 { any; };
    directory "/var/cache/bind";
    dnssec-validation auto;
    {% if forwarders is defined %}
    forwarders {
        {% for forwarder in forwarders %}
            {{ forwarder }};
        {% endfor %}
    };
    {% endif %}
};

include "/etc/bind/named.conf.default-zones";
{% set ddns = key is defined and key.file is defined and key.name is defined %}
{% if ddns %}
include "{{ key.file }}";
{% endif %}

{% if zones is defined %}
{% for zone in zones %}
zone "{{ zone.name }}" {
    type {{ zone.type }};
    file "/var/cache/bind/db.{{ zone.name }}";
    {% if ddns %}
        allow-update { key {{ key.name }}; };
    {% endif %}
};
{% if zone.reverse is defined %}
zone "{{zone.reverse}}.in-addr.arpa" {
    type {{ zone.type }};
    file "/var/cache/bind/db.{{ zone.reverse }}";
    {% if ddns %}
        allow-update { key {{ key.name }}; };
    {% endif %}
};
{% endif %}
{% endfor %}
{% endif %}