export KEY_COUNTRY="HUNGARY"
export KEY_PROVINCE="PEST"
export KEY_CITY="BUDAPEST"
export KEY_ORG="SKILL39"
export KEY_EMAIL="asd@skill39.net"
export KEY_OU="VPN"
set_var EASYRSA_BATCH   "yes"
set_var EASYRSA_REQ_CN  "debca"