compatibility_level = 2
command_directory = /usr/sbin
daemon_directory = /usr/lib/postfix/sbin
data_directory = /var/lib/postfix
mail_owner = {{ mail_owner }}
myhostname = {{ hostname }}
mydomain = {{ domain }}
myorigin = $mydomain
inet_interfaces = all
mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain
unknown_local_recipient_reject_code = 550
mynetworks_style = subnet
mynetworks = 127.0.0.0/8, {{ subnet }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
home_mailbox = Maildir/
mailbox_transport = lmtp:inet:{{ dovecot_srv_ip }}:24
virtual_transport = lmtp:inet:{{ dovecot_srv_ip }}:24
smtpd_banner = $myhostname, ESMTP
sendmail_path = /usr/sbin/postfix
newaliases_path = /usr/bin/newaliases
mailq_path = /usr/bin/mailq
setgid_group = postdrop
inet_protocols = ipv4
disable_vrfy_command = yes
smtpd_helo_required = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = inet:{{ dovecot_srv_ip }}:25
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_local_domain = $myhostname
